<turbo-frame id="messages" target="_top">
  This content is from lazy loaded turbo frame.

  <br>

  <%= lazy_value_tag do %>
    <h3 class="title"><%= rand(1000) %></h3>
  <% end %>

  <%= lazy_value_tag do %>
    <%= "I'm lazy loaded from the turbo frame" %>
  <% end %>

</turbo-frame>
